<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="" width="900px"></div>
      
      <body style="background-image:url('Assets/images/projects.JPG');background-repeat:no-repeat;background-size:1490px 697px">
    </div>
  </main>
  


<%- include partials/footer.ejs %>


<%- include partials/bottom_nav.ejs %>